<p-button (click)="showDialog()" icon="pi pi-pen-to-square" ariaLabel="Modifier" severity="warn"></p-button>
<p-dialog header="Modification  D'une Voiture" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
   <span class="p-text-secondary block mb-8">Modifier la Voiture. {{voiture?.immatriculation}}</span>
   <form [formGroup]="editVoitureForm">
      <div class="flex flex-wrap gap-4 mb-6">
         <div class="flex-auto">
            <label class="  block mb-2"> Annee </label>
            <p-select [options]="yearsList" formControlName="annee"
                      optionLabel="name" placeholder="Choisir Annee"
                      class="w-full "/>
         </div>
         <div class="flex-auto">
            <label class="  block mb-2"> Couleur </label>
            <p-select [options]="couleursList" formControlName="couleur"
                      optionLabel="name" placeholder="Choisir Couleur"
                      class="w-full "/>
         </div>
         <div class="flex-auto w-[100%]">
            <label class="  block mb-2"> Modele </label>
            <input pInputText formControlName="modele" class="w-full"/>
            <p *ngIf="modele?.hasError('required') && modele?.touched" class="text-red-500">Modele Obligatoir</p>
         </div>
         <div class="flex-auto w-[100%]">
            <label class="  block mb-2"> Marque </label>
            <p-select [options]="marquesList" formControlName="marque"
                      optionLabel="name" placeholder="Choisir Couleur"
                      class="w-full "/>
         </div>
         <div class="flex-auto">
            <label class="  block mb-2"> Client CIN </label>
            <input pInputText formControlName="clientCIN" pKeyFilter="alphanum" class="w-full"/>
            <p *ngIf="clientCIN?.hasError('required') && clientCIN?.touched" class="text-red-500">Client CIN
               Obligatoir</p>
         </div>
         <div class="flex-auto w-[100%]">
            <label class="  block mb-2"> Accessories </label>
            <p-multiselect [options]="accessoriesList"  formControlName="accessories"
                           optionLabel="name" placeholder="Choisir Accessories" [maxSelectedLabels]="3"
                           styleClass="w-full  "/>
            <p *ngIf="accessories?.invalid && accessories?.touched" class="text-red-500">Choisir Au Mois Un Accessoire</p>
         </div>
         <div class="flex-auto w-[100%]">
            <label class="  block mb-2"> Transmissions </label>
            <p-multiselect [options]="transmissionsList" formControlName="transmissions"
                           optionLabel="name" placeholder="Choisir Transmissions" [maxSelectedLabels]="3"
                           styleClass="w-full  "/>
            <p *ngIf="transmissions?.invalid && transmissions?.touched" class="text-red-500">Choisir Au Mois Un Accessoire</p>
         </div>
      </div>
      <div class="flex justify-end gap-2">
         <p-button label="Cancel" severity="contrast" (click)="visible = false"/>
         <p-button label="Save" (click)="editVoiture()" severity="warn" [disabled]="editVoitureForm.invalid"/>
      </div>
   </form>

</p-dialog>
